# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .gitignore
.env
.env.*

# Monorepo 根目录
node_modules/
.env
*.log

# 后端依赖
backend/node_modules/

# 前端依赖
cafe-website/node_modules/
